*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --ff: "Work Sans", sans-serif;
  --fw-base: 400;
  --fw-bold: 600;
  --fw-thicc: 700;
  
  --clr-darkPurple: hsl(292, 42%, 14%);
  --clr-grayishPurple: hsl(292, 16%, 49%);
  --clr-lightPink: hsl(275, 100%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-lightPink);
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  margin: 2rem;
  font-family: var(--ff);
  color: var(--clr-darkPurple);
  display: grid;
  place-items: center;
  height: 100vh;
}

#faq-page {
  width: 43rem;
  background-color: var(--clr-white);
  padding: 2rem;
  border-radius: 0.8rem;
}

#faq-header {
  display: flex;
  gap: 1.5rem;
}

#faq-heading {
  color: var(--clr-darkPurple);
  font-size: 3rem;
  font-weight: var(--fw-thicc);
}

.faq {
  margin-bottom: 1rem;
}

.faq-answer {
  display: none;
  color: var(--clr-grayishPurple);
  font-size: 1.1rem;
}

.faq-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  border: none;
  background-color: inherit;
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
  text-align: left;
}

.faq-question {
  color: var(--clr-darkPurple);
}

hr {
  background-color: var(--clr-lightPink);
  height: 1.5px;
  border: none;
}